.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($black, .45);
    border-radius: 5px;

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }
}

.add-post__form {
    display: flex;
    align-items: flex-end;
}

.add-post__textarea {
    display: block;
    flex-grow: 1;
    height: 34px;
    overflow: hidden;

    border: none;
    background: transparent;
    resize: none;

    font-size: 1.5rem;
    color: $white;
    font-family: inherit;

    &::placeholder {
        color: #d2d2d2;
    }
}

.add-post__form-actions {
    
    display: flex;
    justify-content: flex-end;
    width: 12rem;
    flex-shrink: 0;

    @include breakpoint($mobile-bp) {
        width: 9rem;    
    }
}

.add-post-file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    border: none;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color .2s linear;

    @include breakpoint($mobile-bp) {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.add-post-file {
    background: #ebebeb url("../images/add-photo.svg") center no-repeat;
    input {
        display: none;
    }

    &:hover {
        background-color: darken(#ebebeb, 5%);
    }

    @include breakpoint($mobile-bp) {
        background-size: 15px;
    }
}

.add-post__send {
    font-size: 0;
    color: transparent;

    background: $blue url("../images/send.svg") center no-repeat;
    background-color: $blue;
    margin-left: 1.5rem;
    
    &:hover {
        background-color: darken($blue, 5%);
    }

    @include breakpoint($mobile-bp) {
        background-size: 15px;
    }
}
