.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.12em 2.1em;

    background: $secondary;
    border: none;
    cursor: pointer;
    border-radius: 3em;

    font-size: 1.2rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 1.1;
    color: $white;
    text-decoration: none;

    transition: background-color .2s linear;

    &:hover {
        text-decoration: none;
    }

    &--red {
        background-color: $red;
        box-shadow: 0 7px 17px -10px rgba($red, .3);

        &:hover,
        &:focus {
            background-color: darken($red, 5%);
        }
    }

    &--blue {
        background-color: $blue;
        box-shadow: 0 7px 17px -10px rgba($blue, .3);

        &:hover,
        &:focus {
            background-color: darken($blue, 5%);
        }
    }

    &--disabled {
        background-color: $primary;
        box-shadow: 0 7px 17px -10px rgba($primary, .3);
    }

    &--rounded {
        border-radius: 0.41em;
    }

    &--small {
        padding: 0.7em 1.25em;
    }

    &-pos--right {
        float: right;
    }
}