.nav {
  &--mobile {
    display: none;
    margin: 3rem 0;
  }

  @include breakpoint($tablet-bp) {
    display: none;

    &--mobile {
      display: block;
    }
  }
}

.nav__list {
  display: flex;

  @include breakpoint($tablet-bp) {
    flex-direction: column;
  }
}

.nav__item {
  position: relative;

  &:hover {
    .nav__link {
      background-color: $blue;
      text-decoration: none;
      cursor: pointer;
    }

    > .subnav {
      display: block;
    }
  }

  @include breakpoint($tablet-bp) {
    &:hover {
      .nav__link {
        background: none;
      }
    }
  ;
  }
}

.nav__link-avatar {
  margin-bottom: -.6rem;
  margin-top: -.4rem;
  margin-right: .5rem;

  width: 2.2rem;
  height: 2.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%
}

.nav__link {
  display: block;
  padding: 1.35rem;

  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.2;
  color: $white;
  text-transform: uppercase;
  transition: background-color .2s linear;

  &.has-subnav {
    position: relative;
    padding-right: 3.5rem;

    &:after {
      content: "";
      display: block;
      margin-top: 2px;

      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $white transparent transparent transparent;

      position: absolute;
      top: 50%;
      right: 1.35rem;
      transform: translateY(-50%);
    }
  }

  @include breakpoint($tablet-bp) {
    padding-left: 0;
    padding-right: 0;

    font-size: 1.6rem;
  }
}