.post {
  margin-bottom: 3rem;
  padding: 2.5rem;
  overflow: hidden;

  box-shadow: 0 15px 25px rgba($black, .35);
  background-color: $primary;
  border-radius: 5px;

  @include breakpoint($mobile-bp) {
    padding: 1.5rem;
  }
}

.post__header {
  margin: 0 0 2.5rem;

  &--preview {
    margin: -2.5rem -2.5rem 2.5rem;
  }
}

.post__preview {
  display: block;
  width: 100%;
  height: auto;
}

.post__content {
  margin-bottom: 2rem;
}

.post__title {
  margin-bottom: 1.5rem;

  font-size: 1.8rem;
  color: $white;
  font-weight: 500;
  line-height: 1.4;

  a {
    color: inherit;
  }

  &--mb0 {
    margin-bottom: 0;
  }
}

.post__description {
  font-size: 1.4rem;
  color: #d2d2d2;
}

.post__text {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: $white;

  border-bottom: 1px solid #1c1c1c;

  h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.15em;
  }

  h5, h6 {
    font-size: 1em;
  }

  ul, ol {
    margin-bottom: 2rem;
  }

  ol {
    list-style: decimal;
    list-style-position: inside;
  }

  p {
    margin-bottom: 2rem;
  }

  a {
    color: $blue;
  }

  table {
    margin-bottom: 2rem;
    width: 100%;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($mobile-bp) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.post__data {
  display: flex;

  color: #828282;
  line-height: 1.2;

  a {
    color: inherit;
  }

  @include breakpoint($mobile-bp) {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

.post__data-item {
  &:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    position: relative;
    top: -2px;

    border-radius: 50%;
    background-color: #c4c4c4;
  }
}

.post__read {
  font-size: 1.4rem;
  color: #107EFF;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  font-size: 1.2rem;
  color: $white;

  a {
    color: inherit;
    opacity: 0.6;
    transition: opacity .2s linear;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.post__actions-icon {

  margin-left: 0.5rem;
}

.post__subtitle {
  margin-top: 3rem;
  margin-bottom: 2rem;

  font-size: 1.6rem;
  color: $white;
  line-height: 1.3;
  font-weight: 500;
}