.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.tags__item {
    padding: 0.4rem 0.9rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

    background-color: #ea8c1e;
    border-radius: 3px;

    font-size: 1.1rem;
    color: $white;
    text-align: center;
    line-height: 1.3;
}